---
import BackgroundSection from "../components/BackgroundSection.astro";
import ContactSection from "../components/ContactSection.astro";
import CookingTeaser from "../components/CookingTeaser.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import HeroSection from "../components/HeroSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import {
  capabilityGroups,
  cooking,
  education,
  experienceItems,
  impactItems,
  projectItems,
  site,
  socialLinks,
} from "../data/portfolio";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main id="main-content" class="page-main">
    <HeroSection site={site} impactItems={impactItems} />
    <ExperienceSection items={experienceItems} />
    <ProjectsSection items={projectItems} />
    <BackgroundSection education={education} capabilities={capabilityGroups} />
    <CookingTeaser content={cooking} />
    <ContactSection site={site} socialLinks={socialLinks} />
  </main>
</Layout>
